<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.txstate.pos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:name="edu.txstate.pos.POSApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_pos_app"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="edu.txstate.pos.MainActivity"
            android:label="POS" >
        </activity>
        <activity
            android:name="edu.txstate.pos.SplashActivity"
            android:label="POS Starting" >
        </activity>
        <activity
            android:name="edu.txstate.pos.ResendActivity"
            android:label="Resend Receipt"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="edu.txstate.pos.HomeActivity"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.txstate.pos.FakeloginActivity"
            android:label="@string/title_activity_fakelogin" >
        </activity>
        <activity
            android:name="edu.txstate.pos.ScanActivity"
            android:label="@string/title_activity_scan" >
        </activity>
        <activity
            android:name="edu.txstate.pos.OfflineLogin"
            android:label="@string/title_activity_offline_login" >
        </activity>
        <activity
            android:name="edu.txstate.pos.POSControl"
            android:label="@string/title_activity_poscontrol" >
        </activity>
    </application>

</manifest>
